/* Footer.css */
footer {
    text-align: center;
    padding: 1.5rem;
    background-color: #3D3B40;
    color: white; 
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
  
  }
  .footer-icons {
    display: flex;
    align-items: center; 
    justify-content: center;
  }
  
  .footer-icons a {
    font-size: 24px; 
    margin-left: 20px; 
    text-decoration: none; 
   
    transition: color 0.3s ease-in-out;
    padding-top: 10px; 
  } 
  
  
  .footer-icons a.icon-github {
    color: #F8EDFF; 
  }
  
  
  .footer-icons a:hover {
    opacity: 0.8;
  }
    